* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}
  
main {
    max-width: 600px;
    margin: 0 auto;
}
  
h1 {
    text-align: center;
    margin-bottom: 20px;
}
  
.todo-app {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
  
.add-task-btn {
    background-color: #28a745;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    font-size: 16px;
    display: inline-block;
    text-align: center;
}
  
.task-input {
    display: none;
    margin-top: 20px;
    text-align: left;
}
  
.task-form {
    display: flex;
    flex-direction: column;
}
  
.form-label {
    margin-bottom: 10px;
}
  
.form-input {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
  
textarea.form-input {
    resize: none;
}
  
.close-task-form {
    background-color: #ff4c4c;
    color: white;
    border: none;
    font-size: 20px;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto;
    display: block;
    width: 40px;
    text-align: center;
}
  
.add-task-input {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#task-display {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.task {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.task p {
    margin: 5px 0;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

.task-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.task-buttons .btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.8s ease;
}

.task-buttons .btn.delete {
    background-color: #e74c3c;
    color: white;
}

.task-buttons .btn.delete:hover {
    background-color: #c0392b;
}

.task-buttons .btn.edit {
    background-color: #3498db;
    color: white;
}

.task-buttons .btn.edit:hover {
    background-color: #2980b9;
}
